[package]
name = "stateql-core"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
repository.workspace = true

[lib]
name = "stateql_core"
path = "src/lib.rs"

[dependencies]
thiserror = "2"
